body{
    position: relative;
    margin: 0;
    padding: 0; 
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* background: url('images/background.jpg') no-repeat center fixed;
    background-size: cover; */
}
p{
    margin: 0;
}
.container{ 
    border: 1px solid #F1F1F1; 
    margin: 30px auto;
    width: 50%;
    height: 600px;

    /* padding: 30px; */
}
header{
    /* border-bottom: 1px solid black; */
    padding: 15px;
    background: #3b50d4b3;
    color: #fff;
    position: relative;
}
.title{
    text-align: center;
}
.time-cont{
    text-align: center;
}
.day-no-cont{
    padding: 7px;
    display: inline-block;
    /* border: 1px solid black; */
    border-radius: 50%;
    background: #d8dcf98c;
}
.day-no{
    width: 50px;
    height: 50px;
    padding: 30px 30px 15px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 600;
    background: #3b50d4b3 ;
}
.day{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 5px;
}
.add-cont{
    display: inline-block;
}
.add{
    color: #fff;
    padding:11px 20px;
    border-radius: 50%;
    background: rgb(240, 56, 56);
    box-shadow: 0 6px 12px 0 rgba(234, 27, 27, 0.54);
    transition: 0.3s;
    font-size: 28px;
    font-weight: 900;
    position: absolute;
    right: 30px;
    bottom: -27px;
    cursor: pointer;
}
section{
    margin: 65px auto 30px;
    padding: 0 30px;
}
.list{
    margin-bottom: 30px;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.todo{
    display: inline-block;
    vertical-align: middle;
}
.todo-time{
    margin-right: 60px;
    color: #3b50d4b3;
    font-weight: 600;
}
.todo-title{
    display: inline;
    color: #3b50d4b3;
    font-weight: 600;
}
.todo-desc{
    display: block;
    color:#4760f961;
    font-weight: 600;
}
.action{
    float: right;
}
.delete{
    color: #fff;
    padding:  4px 5px 4px 8px;;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: rgb(240, 56, 56);
    cursor: pointer;
}
.check{
    margin-left: 20px;
    padding: 3px 8px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* when task isn't done yet */
  background: #fff;
    /* when task is done */
    color: rgb(204, 201, 201);
   cursor: pointer;
}
.checked {
    margin-left: 20px;
    padding: 3px 8px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: #fff;
    background: rgb(41, 172, 41);
}

dialog{
    border: none;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
    background: #7584E1;
    color: #fff;
    width: 400px;
}
.close_dialog{
    float: right;
    height: 25px;
    width: 25px;
}
.add-task{
    text-align: center;
    margin-bottom: 50px;
}
.dialog_text{
    margin: 50px auto;
    padding: 10px 30px;
}
input{
    border: none;
    border-bottom: 1px solid #5862A6;
    background: transparent;
    color: #fff;
    outline: none;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 20px;
}
::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #5862A6;
}
.btn{
    width: 100%;
    padding: 10px 0;
    background: #d8dcf98c;
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.btn:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
   
}
#error{
    text-align: center;
    padding: 10px;
    border:2px solid #ff0c00c9;
    color: #ff0c00c9;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    display: none;
}

@media screen and (max-width:600px){
    .container{
        margin:0 auto;
        width: 100%;
        /* padding: 20px; */
    }
    .todo-time{
        margin-right: 20px;
        display: inline-block;
        width: 37px;
    }
    .todo-title{
        width: 180px;
        display: block;
    }
    .add{
        right: 15px;
    }
    section{
        padding: 0 15px;
    }
    dialog{
        margin: 0 auto;
        width: 370px;
    }
}